extends layout

block content
  h1 Performance Enhancement Competition Platform 
  p.lead Get better. Compete. Get paid! 
  hr
  .row
    .col-sm-6
      h2 Get Bigger, Faster, Stronger
      img(src= "images/thumb_speed-2.JPG", height= "50%", width= "50%")
      p Through high quality training programs developed by top-notch trainers, you can take your game to the next level. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      
      h2 Compete Against the Best
      img(src= "images/thumb_db-drills-2.jpeg", height= "50%", width= "50%")
      p Check the leaderboard, warm up against rookies, or challenge yourself against some of the best athletes in the world. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6

      h2 Increase Your Rank. 
      img(src= "images/Printable-Bracket.jpg", height= "50%", width= "50%")
      p To be the best, you have to beat the best! The more you win the higher you will rank among your peers. 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Win and Get Paid!
      img(src= "images/bitcoin-logo-3d.jpg", height= "35%", width= "35%")
      p Higher ranks means higher stakes. Higher ranking competitions allow you to win more Bitcon!
      p
        a.btn.btn-default(href='#', role='button') View details »
        